#graphic {
	width: 100%;
}

/*fallback*/
.fallback {
    display: none;
  }


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   #graphic {display: none;}  
  .fallback img {
    display: block;
  }
  .fallback {
    display: inline;
    color: #333 !important;
  }
}